<nav>

  <a href="#" class="menu">
    <div class="item">Электроника</div>
  </a>
  <a href="#" class="menu">
    <div class="item">Программирование</div>
  </a>
  <a href="#" class="menu">
    <div class="item">*nix</div>
  </a>
  <a href="#" class="menu">
    <div class="item">Про жизнь</div>
  </a>


</nav>
